@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://www.w3schools.com/w3css/4/w3.css);

:root {
	--black1: black;
	--black2: #101010;
	--black3: #202020;
	--black4: #303030;
	--black5: #404040;
	--black6: #505050;
	--black7: #606060;
	--black8: #707070;
	--black9: #808080;

	--defaultBackground: white;
	--textDark: #404040;

	--lightBlue: #F7C3BA;
	--mediumBlue: #FF725C;
	--purple: #C95F50;
	--red: #990000;
	--orange: #FFB060;
	--yellow: #FFE640;
	--green: #38761d;

	--opaqueBackground: rgba(232, 241, 253, 0.75);
	--opaqueBackground2: rgba(232, 241, 253, 1);
	--boxShadow: rgba(50, 50, 50, 0.25);
}

/* Default values */
* {
	margin: 0;
	box-sizing: border-box;
	background-color: transparent;
	color: var(--black1);
}

/* Overall webpage */
body, html {
	height: 100vh;
	justify-content: center;
	align-items: center;
}


/* Heading 1 */
h1 {
	padding: 0;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	background-color: transparent;
	letter-spacing: 5px;
	text-transform: uppercase;
}

/* Heading 2 */
h2 {
	text-align: center;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	background-color: transparent;
}

/* Paragraphs */
p {
	text-align: justify;
	font-family: 'Poppins', sans-serif;
	padding: 25px calc(5% + 25px);
	background-color: transparent;
}

li {
	text-align: justify;
	font-family: 'Poppins', sans-serif;
	background-color: transparent;
}

.listBlock {
	padding: 0 calc(5% + 25px);
	padding-bottom: 25px;
}

.imageBlock {
	margin: 0 calc(5% + 25px);
}

.imageBlock > img {
	padding: 25px 0;
	width: fit-content;
}

.guideForm {
	text-align: justify;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin: 0 calc(5% + 25px);
	background-color: transparent;
	text-decoration: underline;
	cursor: pointer;
	width: fit-content;
}

.orangeText {
	color: var(--orange);
}

.purpleText {
	color: var(--purple);
}

.greenText {
	color: var(--green);
	font-weight: bold;
}

.redText {
	color: var(--red);
	font-weight: bold;
}

.guideHeading2, .guideHeading3 {
	text-align: justify;
	font-family: 'Poppins', sans-serif;
}

.guideHeading2 {
	padding: 0 calc(5% + 25px);
	padding-top: 25px;
}

.guideHeading3 {
	font-weight: normal;
	padding-top: 25px;
}

/* Input fields */
input, label {
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	background-color: transparent;
}

/* Flip card */
.flipCardContainer {
	width: 200px;
	height: 225px;
	padding: 25px;
	perspective: 1400px;
	background-color: transparent;
}

.flipCardContainer:hover > .flipCard {
	padding: 0;
	cursor: pointer;
	transform: rotateY(180deg);
}

/* Flip card */
.flipCard {
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform 1500ms;
	transform-style: preserve-3d;
}

/* Applicable to both the front and the back */
.cardFront, .cardBack {
	padding: 0;
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	box-shadow: 0 0 5px 1px var(--boxShadow);
	position: absolute;
	backface-visibility: hidden;
}

.cardFront {
	padding: 0;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardFront > h2 {
	padding: 0;
	font-size: 24px;
	color: var(--black1);
	letter-spacing: 3px;
	text-transform: uppercase;
	background-color: var(--opaqueBackground);
	/* text-shadow: var(--textDark) 2px 2px 15px; */
}

.cardFrontGUI {
	background-image: url('guiform.png');
}

.cardFrontFile {
	background-image: url('upload.png');
}

.cardFrontGuides, .cardFrontExcelGuide {
	background-image: url('guides.png');
}

.cardFrontPDFGuide {
	background-image: url('GuideFlipCars/Guide1.png');
}

.cardFrontGUIGuide {
	background-image: url('GuideFlipCars/Guide2.png');
}

.cardFrontCSVGuide {
	background-image: url('GuideFlipCars/Guide3.png');
}

.cardFrontRender {
	background-image: url('renderLogo.png');
}

.cardBack {
	padding: 0;
	background-color: var(--defaultBackground);
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cardBack > p {
	font-size: 14px;
}

.cardBack > h3 {
	font-size: 22px;
}

.cardBack > ul, .cardBack > ul > li {
	padding: 0;
	font-size: 14px;
	text-align: justify;
	font-family: 'Poppins', sans-serif;
	background-color: transparent;
}

input[type="file"] {
	display: none;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Poppins", sans-serif;
	color: var(--textDark);
}

body, html {
	height: 100%;
	color: var(--black6);
}

.logoText {
	font-size: 32px;
	background-color: var(--mediumBlue);
	color: var(--black1);
	font-family: "Poppins", sans-serif;
}

.transparent {
	background-color: transparent;
	color: var(--textDark);
	font-size: 18px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
	background-image: url('../static/LogoImage.png');
	height: 100%;
}

/* Second image (Services) */
.bgimg-2 {
	background-image: url('../static/MiddleImage.png');
	min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
	background-image: url('../static/FooterImage.png');
	min-height: 400px;
}

.w3-wide {
	letter-spacing: 10px;
}

.w3-hover-opacity {
	cursor: pointer;
}

.lightBlueOnHover {
	background-color: var(--defaultBackground);
}

.lightBlueOnHover:hover {
	background-color: var(--lightBlue);
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
	.bgimg-1, .bgimg-2, .bgimg-3 {
		background-attachment: scroll;
		min-height: 400px;
	}
}

.flashAlert {
	z-index: 1000;
	padding: 10px;
    left: 50%;
    transform: translate(-50%, 0);
	background-color: var(--yellow);
	border-radius: 5px;
	width: fit-content;
	position: fixed;
	margin-top: 55px;
}

.flashAlert:hover {
	cursor: pointer;
}

.flashAlert > p {
	margin: 0;
	padding: 0;
}

.fa {
	background-color: transparent;
}

footer {
	margin-top: 25px;
}

